.navdar{
    position: fixed;
    width: 100%;
    background-image: url(../assets//img/navdar.jpeg);
    display: flex;
    height: 15vh;
    justify-content: center;
    border-bottom: solid #fff 1px;
    align-items: center;

}

.border {
    border: solid #fff 2px ;
    padding: 20px;
    border-radius: 20px;
}

.main{
    padding-top: 17vh;
    display: flex;
    background-image: url(../assets/img/imagenMain.png);
    height: 100vh;
    max-width: 100%;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
}

.perfil {
    display: flex;
    box-sizing: border-box;
    padding: 0%;
    max-width: 310px;
    max-height: 300px;
}

.descripcion{
    margin: 20px;
    background-color: black;
    min-width: 70%;
}


@media (max-width: 576px) {

.main{
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
}




  }