 body {
  margin: 0%;
  padding: 0;
  font-family: "Roboto Mono", monospace;
  /* font-optical-sizing: auto; */
  font-style: normal;
  color: #fff;
}

* {
  padding: 0%;
  margin: 0%;
  font-family: sans-serif, Verdana, Geneva, Tahoma;
}

/* referente al navdar: */
.navdarPizza {
  background-color: #17a2b8;
  color: #fff;
  padding: 0px 10%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 8vh;
}

.startNavdar{
  display: flex;
  gap: 10px;
}

.endNavdar {
  display: flex;
  justify-content: end;
  align-items: end;
  gap: 10px;
}

.ico {
  max-width: 20px;
}

.ButtonReturn{
  color: #000;
}

/* referente a home: */
.pizzaHome {
  width: 100%;
  height: 20vh;
  position: relative;
  background-size: cover;
  overflow: hidden;
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: #fff;
}

.imgsPizzaHome {
  width: 100%;
  filter: brightness(40%);
}

.onImg {
  position: absolute;
  color: #fff;
  align-items: center;
  text-align: center;
}

/* referente a la view de home : */
.mainPizza {
  padding: 3%;
  overflow: auto;
  display: inline-flex;
  gap: 30px;
  width: 100%;
  box-sizing: border-box;
  white-space: nowrap;
  flex-wrap: wrap;
  color: #000;
}

.card {
  width: 250px;
  border: 1px solid #ececec;
  margin: 0px 1%;
}

.imgCard {
  width: 250px;
}

.boxIngredients {
  margin-bottom: 20px;
}

.ingredientes {
  display: flex;
  padding-left: 20px;
}

h3 {
  padding: 10px;
  border-bottom: 1px solid #ececec;
}

h5 {
  padding: 7px;
}
.ingrediente {
  padding-left: 5px;
  gap: 20px;
}

.price {
  text-align: center;
  border-top: 1px solid #ececec;
  padding: 20px;
}

.buttons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 4%;
}

button {
  padding: 7px 10px;
  border-radius: 5px;
  color: #ececec;
  font-size: medium;
  display: flex;
}

.verMas {
  background-color: #00c0dd;
  max-width: 40%;
}

.añadir {
  background-color: #ff2c2c;
}


/* referente a la view de Detalle Pizza */

.DetallePizza {
  display: flex;
  padding: 5% 10%;
  color: #000;
}

.imgDetalle {
  max-width: 35%;
  margin-right: 20px;
}

.id {
  padding-bottom: 2%;
  border-bottom: solid 1px #d1d1d1;
}

.Description {
  padding-top: 2%;
}

.endDetalle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* referente a la view de Carrito */

.Carrito {
  padding: 5% 17%;
  color: #000;
}

.font {
  font-size: 25px;
}

.startCarrito , .endCarrito , .mainCarrito {
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 5px;
}

.mainCarrito {
  display: flex;
  border-bottom: solid 1px #cacaca;
}
.imgMini {
  max-width: 7%;
  padding: 5px;
}

.Total {
  margin: 20px 0px;
}

.resta {
  background-color: #ff2c2c;
}

.suma {
  background-color: #2c2cff;
}

.precioMin {
  color: #006d00;
}

.pagar {
  background-color: #198754;
}

/* referente a si la ruta de pizza/ es invalida si es que se accede directo desde la url */
.invalidaRuta {
  display: flex;
  padding: 10% 20%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.danger {
  background-color: #ff2c2c;
  max-width: 20%;
}